/RegisteredUserTest.class
/NumericalTest.class
/Text.class
/TextTest.class
/AdminTest.class
/GuestTest.class
/HostTest.class
/HouseTest.class
/ReserveTest.class
/LivingTest.class
/VacationalTest.class
/OfferTest.class
/ApplicationTest.class
